appdirs==1.4.4
biopython==1.79
certifi==2022.5.18.1
charset-normalizer==2.0.12
cycler==0.11.0
datacache==1.1.5
fonttools==4.33.3
gtfparse==1.2.1
idna==3.3
kiwisolver==1.4.2
matplotlib==3.5.2
memoized-property==1.0.3
mock==4.0.3
numpy==1.22.4
packaging==21.3
pandas==1.4.2
Pillow==9.1.1
progressbar33==2.4
pyensembl==2.0.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
serializable==0.2.1
simplejson==3.17.6
six==1.16.0
tinytimer==0.0.0
typechecks==0.1.0
urllib3==1.26.9
